html,
body,
#root {
  margin: 0;
  padding: 0;
}

svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px !important;
  height: 500px !important;
  margin: 30px;
  /* transform: rotate(90deg); */
}

.node circle {
  fill: #fff;
  stroke: limegreen;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke-width: 2px;
}

.node image {
  margin-top: 5rem;
}
