#root{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

svg{
  transform: rotate(90deg);
}

.node circle {
  fill: #fff;
  stroke: limegreen;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  /* stroke: #ccc; */
  stroke-width: 2px;
}

.node text{
  transform: rotate(-90deg);
}