#root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

svg {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: rotate(90deg); */
}

.node circle {
  fill: #fff;
  stroke: limegreen;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke-width: 2px;
}

.node image,
.node text {
  transform: rotate(-90deg);
}

.node image {
  margin-top: 5rem;
}
